@font-face {
  font-family: 'header';
  src: url('../fonts/fontello.ttf');
}

* {
	font-family: 'Montserrat', sans-serif;
}

header {
	font-family: 'Pacifico', cursive;
	font-size: 64px;
	text-align: center;
	color:#fff;
}

span {
	font-size: 86px;
	font-family: 'header';
}

body {
	font-size: 15px;
	background-color: #000000;
  padding: 0px;
  margin: 0px;
}
h3{
	font-family: 'Sriracha', cursive;
	color:#fff;
	display: inline-block;
}

#gradient{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

#about{
	padding-right: 10rem;
	color: #fff;
	font-family: 'Sriracha', cursive;
	float:right;
	/*margin-right: 18.5rem;*/
	margin-right: 23%;
}

.login-form{
	padding-left: 2rem;
}
.signup-form{
	padding-left: 2rem;
}
.username-login-form{
	margin: 5px;
}
.password-login-form{
	margin: 5px;
}

.username-signup-form{
	margin:5px;
}
.email-signup-form{
	margin:5px;
}
.password-signup-form{
	margin:5px;
}

#master-container {
}

div div div div {
	vertical-align: top;
}

.display {

}

#hack {
	height: 474px;
	left: 174px;
	position: absolute;
	width: 400px;
	border: 3px solid;
	text-align: center;
}

#zip-search {
	margin: 25px;
	margin-bottom: 0px;
}

#zip-search > input {
	width: 150px;
}

#zip-search > button {
	width: 100px;
}

.zip-input {
	height: 50px;
	font-size: 20px;
}

#zipcodes {
	width: 125px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50px;
}

.zipcode {
	border: 1px solid;
}

#weather-display {
	top: 85px;
	width: 300px;
	height: 401px;
	font-size: 30px;
	text-align: center;
}

.weather {
	display: inline-block;
}

#name {
	font-size: 34px;
	margin: 25px;
}

#temp {
	font-size: 32px;
	margin: 25px;
}

#high, #low {
	font-size: 26px;
	margin: 0;
}

#add-button {
	height: 30px;
	width: 65px;
	margin: 5px;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 162px;
}

#news-container {	
	position: relative;
	float: right;
}

#topics-container {
	position: absolute;
	width: 150px;
	text-align: center;
	border-right: none;
	right: 601px;
}

.topics {
	border: 3px solid black;
	border-radius: 10px 0 0 10px;
	height: 91px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Pacifico', cursive;
	font-size: 38px;
	color: #fff;
}

#topics-container div:not(:first-child) {
	margin-top: -1px;
}

#articles-container {
	border: 3px solid black;
	border-left: none;
	margin-left: 150px;
	position: absolute;
	width: 550px;
	height: 475px;
	border-radius: 0 15px 15px 0;
	display: flex;
	flex-direction: column;
	right: 50px;
	color:white;
}

.article {
	padding: 0px 7px 2px 7px;
	text-align: justify;
	flex: 1;
}

#articles-container > div:first-of-type {
	padding-top: 5px;
}

button{
	margin-left: 5px;
  padding: 5px 5px;
  letter-spacing: 1px;
  color: #fff;
  border: solid 3px transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  margin-left: 2.3rem;
  margin-top: 1rem;
}

#button {
	margin-left: 5px;
  padding: 5px 5px;
  letter-spacing: 1px;
  color: #fff;
  border: solid 3px transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
}