@font-face {
  font-family: 'header';
  src: url('../fonts/fontello.ttf');
}

* {
	font-family: 'Montserrat', sans-serif;
}

header {
	font-family: 'Pacifico', cursive;
	font-size: 4.923rem;
	text-align: center;
	color:#fff;
}

span {
	font-size: 6.615rem;
	font-family: 'header';
}

body {
	font-size: 0.988rem;
	background-color: #000000;
  padding: 0rem;
  margin: 0rem;
}
h3{
	font-family: 'Sriracha', cursive;
	color:#fff;
	display: inline-block;
}

#gradient{
  width: 100%;
  height: 50rem;
  padding: 0rem;
  margin: 0rem;
}

#about{
	padding-right: 10rem;
	color: #fff;
	font-family: 'Sriracha', cursive;
	float:right;
	/*margin-right: 18.5rem;*/
	margin-right: 23%;
}

.login-form{
	padding-left: 2rem;
}
.signup-form{
	padding-left: 2rem;
}
.username-login-form{
	margin: 0.313rem;
}
.password-login-form{
	margin: 0.313rem;
}

.username-signup-form{
	margin:0.313rem;
}
.email-signup-form{
	margin:0.313rem;
}
.password-signup-form{
	margin:0.313rem;
}

#master-container {
}

div div div div {
	vertical-align: top;
}

.display {

}

#hack {
	height: 29.625rem;
	left: 10.875rem;
	position: absolute;
	width: 253rem;
	border: 0.188rem solid;
	text-align: center;
	border-radius: 0 0.938rem 0.938em 0.938rem;
}

#zip-search {
	margin: 1.563rem;
	margin-bottom: 0rem;
}

#zip-search > input {
	width: 9.37rem;
}

#zip-search > button {
	width: 6.250rem;
}

.zip-input {
	height: 3.125rem;
	font-size: 1.25rem;
}

#zipcodes {
	width: 1.813rem;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 3.125rem;

}

.zipcode {
	border: 0.188rem solid;
	height: 2.692rem;
	display: flex;
	flex-direction: column;
}

.zipcode div:not(:first-child) {
	margin-top: -0.188rem;
}

#weather-display {
	top: 5.313rem;
	width: 18.750rem;
	height: 25.063rem;
	font-size: 1.875rem;
	text-align: center;
}

.weather {
	display: inline-block;
}

#name {
	font-size: 2.125rem;
	margin: 1.563rem;
}

#temp {
	font-size: 2rem;
	margin: 1.563rem;
}

#high, #low {
	font-size: 1.625em;
	margin: 0;
}

#add-button {
	height: 1.875rem;
	width: 4.063rem;
	margin: 0.313rem;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	left: 10.125rem;
}

#news-container {	
	position: relative;
	float: right;
}

#topics-container {
	position: absolute;
	width: 9.375rem;
	text-align: center;
	border-right: none;
	right: 46.231rem;
}

.topics {
	border: 0.188rem solid black;
	border-radius: .769rem 0 0 .769rem;
	height: 7.077rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Pacifico', cursive;
	font-size: 2.923rem;
	color: #fff;
}

#topics-container div:not(:first-child) {
	margin-top: -0.188rem;
}

#articles-container {
	border: 0.188rem solid black;
	border-left: none;
	margin-left: 11.538rem;
	position: absolute;
	width: 42.308rem;
	height: 36.308rem;
	border-radius: 0 1.154rem 1.154rem 0;
	display: flex;
	flex-direction: column;
	right: 3.846rem;
	color:white;
}

.article {
	padding: 0rem 0.538rem 0.154rem 0	.538rem;
	text-align: justify;
	flex: 1;
}

#articles-container > div:first-of-type {
	padding-top: 0.385rem;
}

button{
	margin-left: 0.385rem;
  padding: 0.385rem 0.385rem;
  letter-spacing: .077rem;
  color: #fff;
  border: solid 0.188rem transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  margin-left: 2.3rem;
  margin-top: 1rem;
}

#button {
	margin-left: 0.385rem;
  padding: 0.385rem 0.385rem;
  letter-spacing: .077rem;
  color: #fff;
  border: solid 0.188rem transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
}